<footer class="footer-mobile">
    <div id="social-icons">
        <a href="https://twitter.com/aubreymrg"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="https://www.instagram.com/a7brey/"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://github.com/aubreymae"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/aubreymaegarcia/"><i class="fab fa-linkedin-in fa-2x"></i></a>
        <a href="mailto:aubreymaerg@gmail.com"><i class="far fa-envelope fa-2x"></i></a>
    </div>
    <div id="footer-text">
        <p>2019 © Aubrey Garcia</p>
        <p>Sweet Sunrise Theme by Aubrey Garcia</p>
    </div>
</footer>