<header id="header">
    <div id="inner">
        <div id="img-block">
            <div id="user-icon"></div>
        </div>
        <div id="tagline">
            <p>A game designer and technical artist focusing on UI, UX, and asset development</p>
        </div>
        <footer>
            <div id="social-icons">
                <a href="https://twitter.com/aubreymrg"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.instagram.com/a7brey/"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="https://github.com/aubreymae"><i class="fab fa-github fa-lg"></i></a>
                <a href="https://www.linkedin.com/in/aubreymaegarcia/"><i class="fab fa-linkedin-in fa-lg"></i></a>
                <a href="mailto:aubreymaerg@gmail.com"><i class="far fa-envelope fa-lg"></i></a>
            </div>
            <div id="footer-text">
                <p>2019 © Aubrey Garcia</p>
                <p>Theme by Aubrey Garcia</p>
            </div>
        </footer>
    </div>
</header>

<header id="header-mobile">
    <div id="user-icon-mobile"></div>
    <div id="tagline-mobile">
        <p>A game designer and technical artist focusing on UI, UX, and asset development</p>
    </div>
</header>